<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idah.hyphen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Hyphen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uye_ol" />
        <activity android:name=".sifremi_unuttum" />
        <activity android:name=".uye_anasayfa" />
        <activity android:name=".admin_paneli" />
        <activity android:name=".takimlideri_paneli" />
        <activity android:name=".isveren_paneli" />
        <activity android:name=".tlislemleri" />
        <activity android:name=".uye_islemleri" />
        <activity android:name=".mesaj_islemleri" />
        <activity android:name=".duyuru_islemleri" />
        <activity android:name=".gorev_islemleri" />
        <activity android:name=".isveren_islemleri" />
        <activity android:name=".profil" />
        <activity android:name=".gorevler" />
        <activity android:name=".isveren_profil" />
        <activity android:name=".isveren_duyuru" />
        <activity android:name=".isveren_mesaj" />
        <activity android:name=".uye_profil" />
        <activity android:name=".uye_gorev" />
        <activity android:name=".uye_duyuru" />
        <activity android:name=".uye_mesaj"></activity>
    </application>

</manifest>